.flexRowContent--header{
    background-color: #212121;
     z-index: 999;
}
.flexRow--header {
   overflow: hidden;  
}
.flexRow{
    justify-content: center;
    align-items: center;   
}
.flexColChild{
   z-index: 0;
}

