.containerNormal{
    border-radius: 5px;
  
    background-color: #424242;
}

.imageContainer {
    
}
.buyButton :global(.vtex-button) {
    border: 1px solid #424242;
    color: #424242;
    
    
}

